@use "./globals.scss";
@use "./utilities.scss" as utils;

.FSC {
  position: relative;
  display: flex;
  flex-flow: column;
  &__theme {
    background: var(--color-background);
  }
  &__container {
    background: var(--color-background);
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 1800px;
    margin: 0 auto;
  }
}
.FSC__product-grid {
  display: grid;
  gap: 1rem;
  align-self: center;
  padding-bottom: 4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include utils.desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include utils.tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include utils.phone {
    grid-template-columns: 1fr;
    transform: scale(0.8);
    transform-origin: top;
  }
}

.cb {
  --s: 50px; /* the size on the corner */
  --t: 2px; /* the thickness of the border */
  --g: 40px; /* the gap between the border and image */

  padding: calc(var(--g) + var(--t));

  outline: var(--t) solid transparent; /* the color here */
  outline-offset: calc(-1 * var(--t));
  -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: all 0.4s ease-in-out;
  cursor: crosshair;
  border: 1px solid var(--color-card-frame);

  &:hover,
  &:focus-visible,
  &:active {
    outline: var(--t) solid var(--color-card-frame-border);
    transition: all 0.2s ease-in-out;
    outline-offset: calc(var(--g) / -2);
    border: 1px solid transparent;
    @extend .FSC__top-layer;
  }

  &:hover {
    .FSC__card__img {
      border-color: var(--color-card-frame-border);
      transition: border-color 0.2s ease-in-out;
    }
  }
}

.FSC__filters {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  padding: 2rem 0;

  @include utils.tablet {
    width: 100%;
    display: grid;
    padding: 1rem 0;
    grid-template-columns: 1fr 1fr 1fr;

    transform: (scale(0.8));
  }
  @include utils.phone {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;

    transform: (scale(0.8));
  }
}

.FSC__card {
  display: flex;
  max-width: 440px;
  color: var(--color-card-text);
  // flex-flow: column;
  border: solid 2px transparent;
  transition: color 0.5s ease-in-out;
  border-radius: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);

  background: var(--color-card-bg);

  &:hover {
    transition-duration: 0.3s;

    @extend .FSC__top-layer;
    .FSC__utility__spin {
      animation-play-state: paused;
    }
  }
  &__title {
    @extend .FSC__typography__h3;
    margin-bottom: 1rem;
    z-index: inherit;
  }
  &__img {
    max-width: 300px;
    height: auto;
    margin-bottom: 1rem;
    border: 6px solid var(--color-card-frame-border-img);
    outline-style: solid;
    padding: 1rem;
    transition: border-color 0.5s ease-in-out;
    z-index: inherit;
  }
  &__price {
    margin-bottom: 1rem;
    z-index: inherit;
  }
  &__desc {
    margin-bottom: 1rem;
    @extend .FSC__typography__h4;
    z-index: inherit;
    * {
      color: var(--color-card-text);
      text-decoration: none;
    }
  }
  &__addtocart {
    @extend .FSC__buttons__buy;
    z-index: inherit;
  }
}

.FSC__buttons {
  &__primary {
    @extend .button__arcade;
    z-index: 3;

    // @include utils.phone {
    //   transform: scale(0.8);
    // }
    &__top {
      @extend .button__arcade__top;
      gap: 1rem;
    }
    &__bottom {
      @extend .button__arcade__bottom;
    }
    &__base {
      @extend .button__arcade__base;
    }
  }
  &__secondary {
    text-transform: capitalize;
    @extend .button__arcade;
    z-index: 2;
    display: block;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0px;

    &__top {
      text-shadow: 1px 1px 2px utils.$fsc-bg;
      color: utils.$fsc-neutral;
      @extend .button__arcade__top;
      gap: 0.5rem;
      &:after {
        background-image: radial-gradient(#3dcd9e, #369d8d);
      }
    }
    &__bottom {
      @extend .button__arcade__bottom;
      background-color: #38a19d;
    }
    &__base {
      @extend .button__arcade__base;
    }
  }

  &__filter {
    @include utils.buttonFilters();

    &:active,
    &:focus {
      color: utils.$fsc-copy-link;
      border-color: utils.$fsc-copy-link;
    }
    @include utils.tablet {
      width: 100%;
    }
    @include utils.phone {
      width: 100%;
    }
  }

  &__buy {
    @include utils.buyButton();
    text-transform: capitalize;
  }
}
