// =================
/// theme vars
/// ================
// dark

$fsc-bg: #1d1d15;
$fsc-green: #33cc00;
$fsc-copy: #c8c8c8;
$fsc-copy-link: #cd3f64;
$fsc-neutral: #f0e1c3;
$fsc-teal: #84a782;
$fsc-highlight: #c9a100;
$fsc-frame: #ffffff;
$fsc-frame-border: #0668af;
.FSC {
  [data-theme="light"] {
    $fsc-bg: #1d1d15;
    $fsc-green: #33cc00;
    $fsc-copy: #c8c8c8;
    $fsc-copy-link: #cd3f64;
    $fsc-neutral: #f0e1c3;
    $fsc-teal: #84a782;
    $fsc-highlight: #c9a100;
    $fsc-frame: #ffffff;
    $fsc-frame-border: #0668af;

    --color-darkmode-text: #{$fsc-bg};
    --color-title-text: #{$fsc-frame-border};
    --color-title-text-hover: #{$fsc-bg};
    --color-box-shadow-glow: #{$fsc-copy-link};
    --color-title-subtext: #{$fsc-bg};
    --color-title-subtext-hover: #{$fsc-frame-border};

    --color-text: #{$fsc-copy};
    --color-background: #{$fsc-neutral};

    --colorfilter-bg: #{$fsc-neutral};
    --color-card-frame: #{$fsc-frame-border};
    --color-card-frame-border: #{$fsc-green};
    --color-card-frame-border-img: #{$fsc-frame-border};
    --color--filter--border-bg: #{$fsc-neutral};
    --color--filter--border-color: #{$fsc-frame-border};
    --color--filter--border-hover-bg: #{$fsc-copy-link};
    --color-card-text: #{$fsc-bg};
    --color-card-bg: #{$fsc-neutral};
  }
  [data-theme="dark"] {
    $fsc-bg: #1d1d15;
    $fsc-green: #33cc00;
    $fsc-copy-link: #cd3f64;
    $fsc-copy: #c8c8c8;
    $fsc-neutral: #f0e1c3;
    $fsc-teal: #84a782;
    $fsc-highlight: #c9a100;
    $fsc-frame: #ffffff;
    $fsc-frame-border: $fsc-bg;

    --color-darkmode-text: #{$fsc-copy};

    --color-box-shadow-glow: #{$fsc-green};
    --color-title-text: #{$fsc-teal};
    --color-title-text-hover: #{$fsc-neutral};
    --color-title-subtext: #{$fsc-copy};
    --color-title-subtext-hover: #{$fsc-teal};

    --color-card-bg: #{$fsc-bg};

    --color-hover-neon: #{$fsc-green};
    --color-background: #{$fsc-bg};
    --color-card-text: #{$fsc-copy};
    --colorfilter-bg: #{$fsc-bg};
    --color-card-frame: #{$fsc-neutral};
    --color-card-frame-border: #{$fsc-green};
    --color-card-frame-border-img: #{$fsc-neutral};
    --color--filter--border-bg: #{$fsc-bg};
    --color--filter--border-color: #{$fsc-teal};
    --color--filter--border-hover-bg: #{$fsc-green};
  }
}

/// mixins

@mixin phone {
  @media (max-width: 899px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 900px) and (max-width: 1325px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1800px) {
    @content;
  }
}

.FSC__utility__spin {
  transform-origin: center;
  line-height: 1;
  animation: animName 5s linear infinite;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.FSC__typography {
  &__h1 {
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 1;
    @include phone {
      font-size: 2.5rem;
    }
  }

  &__h2 {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 2px;
  }

  &__h3 {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 2px;
  }

  &__h4 {
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 3px;
  }
}

// links
.FSC__link {
  color: $fsc-copy-link;
  text-decoration: none;
}

.FSC__italic {
  font-style: italic;
}
// buttons

@mixin primaryButton {
  appearance: none;
  color: $fsc-green;
  height: 48px;
  min-width: 130px;
  border: solid 1px $fsc-highlight-light;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @extend .FSC__typography__h4;
  background-color: $fsc-bg;
  letter-spacing: 0.5px;
  font-optical-sizing: auto;
  padding: 1rem;
  // border-radius: 4px;
  cursor: url("https://boostie.com/wp-content/uploads/2024/02/pointer-e1708536933479.png"),
    pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;

  &:after {
    transition: all 0.3s ease-in-out;
    content: "";

    left: 0;
    top: 0;
    transform: translate(2px, 2px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    // border-radius: 4px;
  }

  &:hover {
    transform: translate(2px, 2px);
    transition: all 0.3s ease-in-out;

    &:after {
      transform: translate(1px, 1px);
      transition: all 0.3s ease-in-out;
    }
  }

  &:active {
    transform: translate(2px, 4px);
    border: 2px solid pink;
    color: $fsc-highlight-light;
    box-shadow: 0px 0px 139px -15px rgba(51, 204, 0, 0.8);
    border-image: repeating-linear-gradient(
        -55deg,
        #000,
        #000 20px,
        $fsc-green 20px,
        $fsc-green 40px
      )
      10;
    transition: all 0.2s ease-in-out;
  }
}

@mixin hazardBorder {
  border-bottom: 10px solid pink;
  border-top: 10px solid pink;

  border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #fed141 20px,
      #fed141 40px
    )
    10;
}

@mixin buyButton {
  color: $fsc-copy;
  height: 48px;
  border-bottom: 2px solid $fsc-highlight;
  appearance: none;
  background-color: $fsc-bg;
  letter-spacing: 0.5px;
  @extend .FSC__typography__h3;
  font-optical-sizing: auto;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  // border-radius: 4px;
  cursor: url("https://boostie.com/wp-content/uploads/2024/02/pointer-e1708536933479.png"),
    pointer;
  position: relative;
  transition: background-color linear 0.1s;
  margin-bottom: 24px;

  &:after {
    content: "";
    background-color: $fsc-bg;
    left: 0;
    top: 0;
    transform: translate(2px, 2px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    // border-radius: 4px;
    border: 1px solid $fsc-bg;
  }

  &:hover {
    background-color: $fsc-bg;
    left: 1px;
    top: 1px;

    &:after {
      transform: translate(1px, 1px);
    }
  }

  &:active {
    background-color: $fsc-copy;
    left: 2px;
    top: 2px;

    &:after {
      transform: translate(0px, 0px);
    }
  }
}

@mixin buttonFilters {
  position: relative;
  height: 50px;
  padding: 0 30px;
  border: 2px solid var(--color--filter--border-color);
  background: var(--color--filter--border-bg);
  user-select: none;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  color: var(--color--filter--border-color);

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: var(--color--filter--border-bg);
    transition: all 0.2s ease-in-out;
  }

  &:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
  }

  &:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
  }

  &:hover {
    cursor: pointer;
    color: var(--color--filter--border-hover-bg);
    border-color: var(--color--filter--border-hover-bg);
    z-index: 3;
    transition: all 0.3s ease-in-out;
  }

  &:active {
    transform: scale(0.95);
  }

  &:hover:before {
    height: calc(100% - 32px);
    top: 16px;
  }

  &:hover:after {
    width: calc(100% - 32px);
    left: 16px;
  }

  & .FSC__buttons__filter__copy {
    @extend .FSC__typography__h4;
    text-transform: uppercase;
    z-index: 3;
    position: relative;
    font-weight: bold;
    letter-spacing: 3px;
  }
}
.FSC__top-layer {
  z-index: 3;
}

//  SCSS Placeholder Extends
// 3D Tactile Arcade Button sourced from @ https://uiverse.io/njesenberger/thin-owl-11
.button__arcade {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 0.5rem 1rem;
  min-width: 150px;
  box-sizing: border-box;
  background: transparent;
  @extend .FSC__typography__h3;
  cursor: pointer;
}

.button__arcade__top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: $fsc-copy;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  transition-property: transform;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.button__arcade:active .button__arcade__top {
  transform: translateY(6px);
}

.button__arcade__top::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: radial-gradient(#cd3f64, #9d3656);
  text-align: center;
  color: $fsc-copy;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2),
    0 1px 2px 1px rgba(255, 255, 255, 0.2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: 0.2s;
}

.button__arcade:active .button__arcade__top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.button__arcade__bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: #803;
  background-image: radial-gradient(
      4px 8px at 4px calc(100% - 8px),
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(
      4px 8px at calc(100% - 4px) calc(100% - 8px),
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(16px at -4px 0, $fsc-copy, transparent),
    radial-gradient(16px at calc(100% + 4px) 0, $fsc-copy, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5),
    inset 0 -1px 3px 3px rgba(0, 0, 0, 0.4);
  transition-property: border-radius, padding-top;
  transition-duration: 0.2s;
}

.button__arcade:active .button__arcade__bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button__arcade__base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 2px 2px rgba(0, 0, 0, 0.25);
}

///////// scan lines
///
///
.scanline {
  animation: scroll 10s 5s infinite;
  background: -moz-linear-gradient(
    top,
    rgba(0, 221, 0, 0) 0%,
    rgba(0, 221, 0, 1) 50%,
    rgba(0, 221, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 221, 0, 0) 0%,
    rgba(0, 221, 0, 1) 50%,
    rgba(0, 221, 0, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 221, 0, 0) 0%,
    rgba(0, 221, 0, 1) 50%,
    rgba(0, 221, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000dd00', endColorstr='#0000dd00',GradientType=0 );
  display: block;
  height: 20px;
  opacity: 0.05;
  position: absolute;
  left: 0;
  right: 0;
  top: -5%;
  z-index: 2;
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanline {
  0% {
    background-position: 0 50%;
  }
}
.overlay {
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  pointer-events: none;

  &:before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      rgba(39, 43, 46, 0.3) 1px,
      transparent 1px
    );
    background-size: 2px 2px;
    background-attachment: fixed;

    background-size: 100% 3px, 6px 100%;
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &:after {
    animation: flicker 2s infinite;
    background: rgba(16, 16, 16, 0.1);
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

///////////  toggle switch

.FSC__toggle__switch {
  display: flex;
  flex-flow: column;

  background: var(--color-background);
  padding: 1rem 0;
  padding-bottom: 0;
  padding-left: 2rem;
  justify-content: center;
  z-index: 3;
  input[type="checkbox"] {
    display: none;
  }

  .switch + label {
    align-items: center;
    color: var(--color-darkmode-text);
    cursor: pointer;
    display: flex;
    position: relative;
    user-select: none;
    height: 15px;
  }

  label {
    @extend .FSC__typography__h4;
    font-weight: bold;
    text-transform: capitalize;
  }

  .switch + label::before,
  .switch + label::after {
    content: "";
    display: none;
  }

  .switch + label::before {
    background: $fsc-copy-link;

    border-radius: 500px;
    height: 15px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 25px;
  }

  .switch + label::after {
    background: $fsc-copy;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05),
      0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 13px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 13px;
  }

  .switch + label .switch-x-text {
    display: block;
    margin-right: 1rem;
  }

  .switch + label .switch-x-toggletext {
    display: block;
    height: 25px;
    overflow: hidden;
    position: relative;
    min-width: 130px;
    &:hover,
    &:active {
    }
  }

  .switch + label .switch-x-unchecked {
    color: $fsc-copy-link;
  }
  .switch + label .switch-x-checked {
    color: $fsc-green;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .switch + label .switch-x-unchecked,
  .switch + label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
  }

  .switch + label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  .switch + label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  .switch + label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
  }
  .switch:checked + label::before {
    background: $fsc-green;
  }

  .switch:checked + label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  .switch:checked + label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  .switch:checked + label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
