@use "../../styles/utilities.scss" as utils;

.FSC__header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: var(--color-background);
  // border-bottom: 1px solid utils.$fsc-green;
  position: relative;
  @include utils.hazardBorder();
  box-shadow: 0 -70px 200px 1px utils.$fsc-green;

  &__brand {
    display: flex;
    flex-flow: column;
    text-align: left;

    &:hover {
      transition: color 0.5s ease-in-out;

      .FSC__header__brand__title {
        color: var(--color-title-text-hover);
        transition: color 0.5s ease-in-out;
      }

      .FSC__header__brand__subtitle {
        color: var(--color-title-subtext-hover);
        transition: color 0.5s ease-in-out;
      }
    }
    &__title {
      @extend .FSC__typography__h1;
      color: var(--color-title-text);
      text-transform: uppercase;
    }
    &__subtitle {
      @extend .FSC__typography__h4;
      color: var(--color-title-subtext);
      text-transform: uppercase;
      transition: color 0.5s ease-in-out;
      max-width: 35rem;

      &__link {
        @extend .FSC__link;
      }
    }
  }
}
